<!DOCTYPE html>
<html lang="en">
<head>
    <title>Author</title>
</head>

<style>
    body{
        background-color: lightgray;
    }

</style>
<body>
    <center>
        <fieldset>
            <div>
                <h1>Welcome to Author Interface</h1>
                <h5>Please select below options</h5>
                <h1><a href="/BlogPost"><i>Add Post</i></a></h1>
                <h1><a href="/ViewPost"><i>View Post</i></a></h1>
            </div>
        </fieldset>
    </center>
</body>
</html>