<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <script src="https://kit.fontawesome.com/43d94d0551.js" crossorigin="anonymous"></script>
</head>

<body
        style="background-image: url('https://images.pexels.com/photos/317355/pexels-photo-317355.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); background-repeat:no-repeat;background-size:cover">
<body>
 
        <center>
            <h1>Welcome to Author Login</h1>
            <h1><a href="/"><i>Home</i></a></a></h2><b></h1>
             <div>
                <form action="/AuthorLogin" method="post">
                    <table >
                        <tr>
                            <i class="fa fa-envelope"></i>
                            <input type="email" name="Email" placeholder="Entre Your Email" required>
                        </tr>  <br> <br>
                        <tr>
                            <i class="fa fa-key"></i>
                            <input type="password" name="Password" placeholder="Entre Your Password" required>
                        </tr>
                        <tr>
                            <td><input type="submit" value="Submit"></td>
                            <td><input type="reset" value="refresh"></td>
                        </tr>
                    </table>
                </form>
             </div>   
        </center>
    
</body>
</html>