<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blog</title>
</head>
<style>
body{ background-color: lightgray
}
</style>
<body>
    <center>
      
            <h1>Welcome to Blog</h1>
           
            <h1><a href="/"><i>Home</i></a></h1>
            <h1><a href="/AuthorLogin"><i>Author Login</i></a></h1>
            <h1><a href="/ViewPost"><i>View Post</i></a></h1
        
            <fieldset>
                <form action="/blogcheck" method="post">
                    <table border="5px">
                        <tr>
                            <td>AuthorName</td>
                            <td><input type="text" name="Name" required></td>
                        </tr>
                        <tr>
                            <td>Title</td>
                            <td><input type="text" name="Title" required></td>
                        </tr>
                        <tr>
                            <td>Blog</td>
                            <td><input type="text" name="Post" required></td>
                        </tr>
                        <tr>
                            <td><input type="submit" value="add post"></td>
                            <td><input type="reset" value="refresh"></td>
                        </tr>
                    </table>
                </form>
                
            </fieldset>
        
    </center>
</body>
</html>